{% extends 'base.html.twig' %}

{% block title %}Continents{% endblock %}
{% block monTitre %}Voici la liste des continents{% endblock %}
{% block body %}
    {% for continent in continents %}
        <h2 class="border-bottom border-primary"><a href="{{ path('afficher_continent',{'id':continent.id}) }}">{{ continent.libelle }}</a></h2>
        <div class="row">
            {% for animal in continent.animaux %}
                <div class="col-6">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-6 col-lg-2 text-center">
                            <img src="{{asset('images/' ~ animal.image)}}" class="img-fluid">
                        </div>
                        <div class="col text-center">
                            <h2><a href="{{ path('afficher_animal', {'id' : animal.id}) }}">{{ animal.nom }}</a></h2>
                            <div>{{ animal.description }}</div>
                            <div><a href="{{ path('afficher_famille', {'id':animal.famille.id}) }}" class="btn btn-primary">{{ animal.famille.libelle }}</a></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
